<h1>USB Fill Time Calculator</h1>
<form id="usb-form">
  <label for="input-size">USB Size in GB:</label>
  <input type="number" id="input-size" name="input_size"><br>

  <label for="input-speed">Speed of the USB in MB/s:</label>
  <input type="number" id="input-speed" name="input_speed"><br>

  <input type="submit" value="Calculate">
</form>

<div id="result"></div>

<script>
  const form = document.querySelector('#usb-form');
  const resultDiv = document.querySelector('#result');

  form.addEventListener('submit', (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    fetch('/usb/calculate', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      resultDiv.innerHTML = data.message;
    });
  });
</script>
